# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build Windows
      run: dotnet publish -c Release -r win-x64 --self-contained -p:PublishSingleFile=true --output "./build/win-x64"
    - name: Build Linux
      run: dotnet publish -c Release -r linux-x64 --self-contained -p:PublishSingleFile=true --output "./build/linux-x64"
    - name: Create GitHub Release
      id: create_release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          ./build/win-x64/DSRPackager.exe
          ./build/linux-x64/DSRPackager
        draft: false
        prerelease: false
